/**
 * @file
 * Typography.
 */

// A mixin for scaling type that utilises the $type-scale map with the predefined values.
@mixin type-scale($scale, $map: $type-scale) {
  $font-size: map-fetch($map, $scale font-size);
  $base-lines: map-fetch($map, $scale base-lines);
  @include adjust-font-size-to($font-size, $base-lines);
}

@mixin type-weight($weight) {
  font-weight: map-get($type-weight, $weight);
}

// A quick ligature mixin, to be updated with a more modular one.
@mixin type-ligatures() {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

// Establish a vertical rhythm.
@include establish-baseline();

body {
  font-family: $font-family-text;
}

// Headings
#{h1, h2, h3, h4, h5} {
  font-family: $font-family-default;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  @include type-weight(thin);
  @include margin-trailer(1);
  @include type-ligatures;
}

.huge,
h1 {
  @include type-scale(huge);
}

.xxlarge,
h1 {
  @include type-scale(xxlarge);
}

.xlarge,
h2 {
  @include type-scale(xlarge);
}

.large,
h3 {
  @include type-scale(large);
}

.medium,
h4 {
  @include type-scale(medium);
}

.base,
h5 {
  @include type-scale(base);
}

.small,
small {
  @include type-scale(small);
}

.tiny {
  @include type-scale(tiny);
}

// Paragraphs
p {
  @include margin-trailer(1);
  @include word-break(break-word);
  @include hyphens(auto);
  @include type-ligatures;
}
