/**
 * @file
 * Style.
 */
/**
 * @file
 * Base.
 */
/**
 * @file
 * Fonts.
 */
/**
 * @file
 * Variables.
 */
/**
 * @file
 * Mixins.
 */
/**
 * @file
 * Typography
 */
/**
 * @file
 * Component (Module) elements.
 */
/**
 * @file
 * Navigation.
 */
/* Mobile First */
/* line 10, ../sass/partials/component/_navigation.scss */
.menu--main ul li {
  position: relative;
  border-top: 1px solid rgba(60, 101, 233, 0.15);
}
/* line 14, ../sass/partials/component/_navigation.scss */
.menu--main ul li .submenu-button {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(60, 101, 233, 0.15);
  height: 52px;
  width: 52px;
  cursor: pointer;
}
/* line 25, ../sass/partials/component/_navigation.scss */
.menu--main ul li .submenu-button::after, .menu--main ul li .submenu-button::before {
  content: '';
  position: absolute;
  top: 21px;
  left: 26px;
  display: block;
  width: 1px;
  height: 11px;
  background: rgba(60, 101, 233, 0.5);
  z-index: 99;
}
/* line 38, ../sass/partials/component/_navigation.scss */
.menu--main ul li .submenu-button::before {
  left: 21px;
  top: 26px;
  width: 11px;
  height: 1px;
}
/* line 46, ../sass/partials/component/_navigation.scss */
.menu--main ul li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: block;
  outline: none;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 0.5em;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_unstyled-link.scss */
.menu--main ul li a:active, .menu--main ul li a:focus {
  outline: none;
}
/* line 56, ../sass/partials/component/_navigation.scss */
.menu--main ul li a:hover {
  background: rgba(60, 101, 233, 0.15);
}
/* line 60, ../sass/partials/component/_navigation.scss */
.menu--main ul li a.active {
  font-weight: 700;
}
/* line 66, ../sass/partials/component/_navigation.scss */
.menu--main ul li ul {
  display: none;
}
/* line 69, ../sass/partials/component/_navigation.scss */
.menu--main ul li ul li a {
  padding-left: 20px;
}
/* line 74, ../sass/partials/component/_navigation.scss */
.menu--main ul li ul li li a {
  padding-left: 40px;
}
/* line 82, ../sass/partials/component/_navigation.scss */
.menu--main ul li.open > ul {
  display: block;
}

@media (min-width: 48em) {
  /* line 93, ../sass/partials/component/_navigation.scss */
  .menu--main ul {
    padding-right: 20px;
    display: block !important;
  }
  /* line 97, ../sass/partials/component/_navigation.scss */
  .menu--main ul li {
    border-top: none 0;
  }
  /* line 100, ../sass/partials/component/_navigation.scss */
  .menu--main ul li .submenu-button {
    display: none;
  }
  /* line 104, ../sass/partials/component/_navigation.scss */
  .menu--main ul li.has-sub > a {
    position: relative;
  }
  /* line 107, ../sass/partials/component/_navigation.scss */
  .menu--main ul li.has-sub > a::after {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #3c65e9;
    border-right: 1px solid #3c65e9;
    content: "";
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 120, ../sass/partials/component/_navigation.scss */
  .menu--main ul li a {
    font-size: 0.9em;
    padding: 0px 5px;
    margin: 0 !important;
    text-transform: uppercase;
    color: #6FB7E9;
    background: transparent !important;
  }
  /* line 128, ../sass/partials/component/_navigation.scss */
  .menu--main ul li a:hover {
    background: transparent !important;
    color: #0DB14B;
  }
  /* line 133, ../sass/partials/component/_navigation.scss */
  .menu--main ul li a:before {
    content: "" !important;
    padding: 0;
  }
  /* line 145, ../sass/partials/component/_navigation.scss */
  .menu--main ul li ul li.has-sub > a::after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media (min-width: 62em) {
  /* line 165, ../sass/partials/component/_navigation.scss */
  .menu--main ul {
    padding-right: 40px;
  }
  /* line 168, ../sass/partials/component/_navigation.scss */
  .menu--main ul li a {
    font-size: 1em;
    padding: 0 0.1em;
  }
}
@media (min-width: 76.5em) {
  /* line 180, ../sass/partials/component/_navigation.scss */
  .menu--main ul {
    padding-right: 50px;
  }
  /* line 183, ../sass/partials/component/_navigation.scss */
  .menu--main ul li a {
    font-size: 1.1em;
    padding: 0 0.9em;
  }
}
/**
 * @file
 * Navigation.
 */
/* Mobile First */
/* line 7, ../sass/partials/component/_logo.scss */
.logo {
  padding-left: 1em;
}

@media (min-width: 48em) {
  /* line 13, ../sass/partials/component/_logo.scss */
  .logo {
    padding-left: 1.5em;
  }
}
@media (min-width: 62em) {
  /* line 20, ../sass/partials/component/_logo.scss */
  .logo {
    padding-left: 3em;
  }
}
/**
 * @file
 * Theme.
 */
/**
 * @file
 * Global elements.
 */
/* line 6, ../sass/partials/theme/_global.scss */
body {
  background-color: #6FB7E9;
  color: #6FB7E9;
}
/* line 10, ../sass/partials/theme/_global.scss */
body header {
  background-color: #6FB7E9;
}
/* line 14, ../sass/partials/theme/_global.scss */
body #main-wrapper {
  background-color: #FFFFFF;
}
/* line 17, ../sass/partials/theme/_global.scss */
body #main-wrapper #main {
  background-color: #FFFFFF;
}
/* line 21, ../sass/partials/theme/_global.scss */
body #main-wrapper #footer {
  background-color: #3c65e9;
}

@media (min-width: 48em) {
  /* line 30, ../sass/partials/theme/_global.scss */
  body header {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 3px #6FB7E9;
  }
}
/**
 * @file
 * State.
 */
/**
 * @file
 * Scrolling.
 */
@media (min-width: 48em) {
  /* line 9, ../sass/partials/state/_scrolling.scss */
  .scrolling header {
    background: white;
  }
}
/**
 * @file
 * SVG.
 */
