/**
 * @file
 * BreadCrumb.
 */

/* Mobile First */
.breadcrumbs {
  display: none;
  position: relative;
  z-index: 1;
}

.breadcrumbs p {
}

.breadcrumbs__link {
  color: black;
  font-weight: 400;
  padding-top: 0;
}


@include breakpoint($bp-tablet) {
  display: block;
}


@include breakpoint($bp-desktop) {
}


@include breakpoint($bp-large) {
}
