/**
 * @file
 * Style.
 */
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/**
 * @file
 * Base.
 */
/**
 * @file
 * HTML5 Boilerplate.
 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/**
 * @file
 * Fonts.
 */
/**
 * @file
 * Variables.
 */
/**
 * @file
 * Mixins.
 */
/**
 * @file
 * Typography.
 */
html {
  font-size: 125%;
  line-height: 1.6em;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  font-weight: 200;
  margin-bottom: 32px;
  margin-bottom: 1.6rem;
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.huge,
h1 {
  font-size: 63px;
  font-size: 3.15rem;
  line-height: 80px;
  line-height: 4rem;
}

.xxlarge,
h1 {
  font-size: 49px;
  font-size: 2.45rem;
  line-height: 64px;
  line-height: 3.2rem;
}

.xlarge,
h2 {
  font-size: 39px;
  font-size: 1.95rem;
  line-height: 48px;
  line-height: 2.4rem;
}

.large,
h3 {
  font-size: 31px;
  font-size: 1.55rem;
  line-height: 48px;
  line-height: 2.4rem;
}

.medium,
h4 {
  font-size: 25px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 1.6rem;
}

.base,
h5 {
  font-size: 20px;
  font-size: 1rem;
  line-height: 32px;
  line-height: 1.6rem;
}

.small,
small {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.2rem;
}

.tiny {
  font-size: 13px;
  font-size: 0.65rem;
  line-height: 16px;
  line-height: 0.8rem;
}

p {
  margin-bottom: 32px;
  margin-bottom: 1.6rem;
  -ms-word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/**
 * @file
 * Helper classes.
 */
.visually-hidden {
  display: none;
}

.nocallout {
  -webkit-touch-callout: none;
}

.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

textarea[contenteditable] {
  -webkit-appearance: none;
}

.gifhidden {
  position: absolute;
  left: -100%;
}

.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/**
 * @file
 * Layout elements.
 */
/**
 * @file
 * Responsive navigation.
 */
/* Mobile First */
.container {
  margin: 0px auto;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  position: relative;
}

header {
  display: block;
  position: relative;
  float: left;
  margin-left: -100%;
  width: 220px;
  z-index: 2;
  padding: 0;
}

header .navigation {
  transition: compact(all 0.5s ease-out, false, false, false, false, false, false, false, false, false);
}

header .navigation ul {
  list-style: none;
  padding: 0;
}

header .navigation ul li {
  display: block;
  text-align: left;
}

header .navigation ul li a {
  display: block;
}

#main-wrapper {
  position: relative;
  margin: 0 auto;
  float: left;
  margin-left: 0;
  width: 100%;
}

#main-wrapper .mobile-container {
  width: 100%;
  display: block;
}

@media (min-width: 48em) {
  header {
    float: none;
    margin-left: 0;
    width: 100%;
    z-index: 2;
    padding: 0;
    position: fixed;
    top: 0;
    height: 100px;
    transition: compact(all 0.5s ease-out, false, false, false, false, false, false, false, false, false);
    background-color: white;
  }
  header .logo {
    float: left;
    width: auto;
  }
  header .navigation {
    float: right;
    width: auto;
    line-height: 100px;
  }
  header .navigation > ul {
    margin: 50px 0;
  }
  header .navigation ul li {
    display: inline-block;
  }
  #main-wrapper {
    float: left;
    margin-left: 0;
    width: 100%;
    padding-top: 200px;
  }
  #main-wrapper .mobile-container {
    display: none;
  }
}

@media (min-width: 62em) {
  header {
    height: 200px;
  }
  header .navigation {
    line-height: 200px;
  }
  header .navigation > ul {
    transition: compact(all 0.5s ease-out, false, false, false, false, false, false, false, false, false);
    margin: 100px 0;
  }
  #main-wrapper {
    padding-top: 300px;
  }
}

/**
 * @file
 * Main Grid.
 */
/* Mobile First */
#main {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#main:after {
  content: " ";
  display: block;
  clear: both;
}

#main #aside_left {
  display: none;
}

#main #content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

#main #aside_right {
  display: none;
}

@media (min-width: 48em) {
  #main {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  #main:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 62em) {
  #main {
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  #main:after {
    content: " ";
    display: block;
    clear: both;
  }
  #main #content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  #main #aside_right {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    display: block;
  }
}

@media (min-width: 76.5em) {
  #main {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  #main:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/**
 * @file
 * Footer Grid.
 */
/* Mobile First */
.footer-legal {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.footer-legal:after {
  content: " ";
  display: block;
  clear: both;
}

.footer-info {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.footer-info:after {
  content: " ";
  display: block;
  clear: both;
}

.footer-info .first {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.footer-info .second {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.footer-info .third {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.footer-info .fourth {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 48em) {
  .footer-legal {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-legal:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer-info {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-info:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer-info .first {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer-info .second {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
  .footer-info .third {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer-info .fourth {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 62em) {
  .footer-legal {
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-legal:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer-info {
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-info:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer-info .first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer-info .second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer-info .third {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer-info .fourth {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 76.5em) {
  .footer-legal {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-legal:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer-info {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-info:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/**
 * @file
 * Component (Module) elements.
 */
.fa-home:before {
  content: "\f015";
}

/**
 * @file
 * BreadCrumb.
 */
/* Mobile First */
.breadcrumbs {
  display: none;
  position: relative;
  z-index: 1;
}

.breadcrumbs__link {
  color: black;
  font-weight: 400;
  padding-top: 0;
}

@media (min-width: 48em) {
  display: block;
}

/**
 * @file
 * Tables.
 */
table {
  margin-top: 10px;
  width: 100%;
}

table thead {
  background: #241F55;
  color: #ffffff;
}

table th {
  text-align: center;
  display: none;
}

@media (min-width: 48em) {
  table tr {
    border-bottom: 1px solid #ffffff;
  }
}

table tbody {
  background: #FFFFFF;
}

table td {
  display: block;
  padding-top: 10px/2;
  padding-bottom: 10px/2;
}

table td::before {
  content: attr(data-th) " :";
  display: inline-block;
  color: #ffffff;
  background: #241F55;
  border-right: 2px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  max-height: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px/2;
  padding-top: 10px/2;
}

@media (min-width: 48em) {
  table td::before {
    display: none;
  }
}

table th,
table td {
  position: relative;
  padding-left: 140px;
}

@media (min-width: 48em) {
  table th,
  table td {
    display: table-cell;
  }
}

@media (min-width: 48em) {
  table th {
    padding: 26px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}

@media (min-width: 48em) {
  table td {
    padding: 26px;
    padding-bottom: 25px;
  }
}

td:last-child::after {
  content: "";
  display: block;
  background: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 48em) {
  td:last-child::after {
    display: none;
  }
}

/*
.table-2 {
  col {
    width: $mediumContainer / 2;
    @include wide {
      width: $wideContainer / 2;
    }
  }

  th,
  td {
    @include medium {
      &:first-child {
        border-right: 2px solid #ffffff;
      }
    }
  }
}

.table-3 {
  col {
    width: $mediumContainer / 3;
    @include wide {
      width: $wideContainer / 3;
    }
  }

  th,
  td {
    @include medium {
      &:nth-child(2) {
        border-left: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
      }
    }
  }
}

.table-4 {
  col {
    width: $mediumContainer / 4;
    @include wide {
      width: $wideContainer / 4;
    }
  }

  th,
  td {
    @include medium {
      &:nth-child(2),
      &:nth-child(3) {
        border-left: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
      }
    }
  }
}
*/
/**
 * @file
 * Buttons.
 */
.button, .button--primary, .button--secondary, .button--secondary-variation {
  display: inline-block;
  padding: 12px 32px;
  margin-bottom: 13px;
  margin-top: 13px;
  min-height: 26px;
  text-align: center;
  font-family: Georgia, Times, sans-serif;
  font-weight: 600;
  text-decoration: none;
  outline: 0;
  transition: none;
}

.button:hover, .button--primary:hover, .button--secondary:hover, .button--secondary-variation:hover {
  background: #4d4d4d;
  color: #ffffff;
  border: 1px solid #4d4d4d;
  text-decoration: none;
}

.button--primary {
  background: #4285f4;
  color: #ffffff;
  border: 1px solid #1266f1;
}

.button--secondary {
  background: #ffffff;
  color: #241F55;
  border: 1px solid #e6e6e6;
}

.button--secondary-variation {
  background: #ffffff;
  color: #241F55;
  border: 1px solid #e6e6e6;
  border-color: transparent;
}

/**
 * @file
 * Link.
 */
a {
  color: #241F55;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  font-family: Georgia, Times, sans-serif;
  color: #241F55;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
}

.cta--primary:hover {
  color: #241F55;
}

.cta--secondary {
  font-family: Georgia, Times, sans-serif;
  color: #241F55;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
}

.cta--secondary:hover {
  color: #241F55;
}

/**
 * @file
 * List.
 */
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 16px;
}

ul li::before {
  font-size: 4px;
}

ol {
  counter-reset: list;
}

ol > li {
  position: relative;
  padding-left: 32px;
}

ol > li::before {
  counter-increment: list;
  content: "0" counter(list);
  color: inherit;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  left: 0;
}

ol > li:nth-child(10n) ~ li::before, ol > li:nth-child(10n)::before {
  content: counter(list);
}

ul ol,
ol ul {
  padding-top: 0;
}

/*==========  LIST LINKS  ==========*/
ul.list-links li::before {
  display: none;
}

ul.list-links a {
  font-weight: 400;
}

ul.list-links a::before {
  display: block;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
}

ul.list-links a::before {
  font-size: 4px;
}

ul.list-links.list-links--primary a {
  font-weight: 400;
  font-family: Georgia, Times, sans-serif;
  line-height: 1;
  text-decoration: none;
}

ul.list-links.list-links--primary a::before {
  display: block;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
}

ol.list-links li::before {
  display: none;
}

ol.list-links li a {
  display: inline-block;
  font-weight: 300;
}

ol.list-links li a::before {
  counter-increment: list;
  content: "0" counter(list);
  color: inherit;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  left: 0;
}

ol.list-links li:nth-child(10n) ~ li a::before,
ol.list-links li:nth-child(10n) a::before {
  content: counter(list);
}

ol.list-links.list-links--secondary a::before {
  display: none;
}

.list-links--secondary {
  padding-left: 0;
}

.list-links--secondary li {
  padding-left: 0;
}

/**
 * @file
 * Media - imgs/videos.
 */
img,
video,
object {
  max-width: 100%;
}

.content img {
  margin-top: 26px;
  margin-bottom: 26px;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
.logo a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  transition: compact(all 0.5s ease-out, false, false, false, false, false, false, false, false, false);
}

.logo a:active, .logo a:focus {
  outline: none;
}

@media (min-width: 48em) {
  .logo a {
    line-height: 100px;
    font-size: 2em;
  }
}

@media (min-width: 62em) {
  .logo a {
    line-height: 200px;
    font-size: 4em;
  }
}

/**
 * @file
 * Navigation.
 */
/* Mobile First */
.menu--main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu--main ul li {
  margin: 0;
  padding: 0;
}

.menu--main ul li a {
  margin: 0;
  padding: 0;
}

@media (min-width: 48em) {
  .menu--main,
  .menu--main ul,
  .menu--main ul li,
  .menu--main ul li a {
    box-sizing: border-box;
    list-style: none;
    display: block;
    position: relative;
    text-decoration: none;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .menu--main:after,
  .menu--main > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .menu--main {
    width: auto;
  }
  .menu--main > ul > li {
    float: left;
  }
  .menu--main > ul > li > a {
    padding-right: 25px;
  }
  .menu--main > ul > li.has-sub > a {
    padding-right: 25px;
  }
  .menu--main ul ul {
    position: absolute;
    left: -9999px;
    line-height: 1;
    padding: 10px 0;
  }
  .menu--main li:hover > ul {
    left: auto;
  }
  .menu--main ul ul ul {
    margin-left: 100%;
    top: 0;
    padding: 0;
  }
  .menu--main ul ul li {
    height: 0;
  }
  .menu--main ul li:hover > ul > li {
    height: 32px;
  }
  .menu--main ul ul li a {
    padding: 10px 0;
    width: 140px;
    font-size: 12px;
    text-decoration: none;
  }
  .menu--main ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
  }
  .scrolling .menu--main > ul {
    margin: 50px 0;
  }
}

/**
 * @file
 * Admin Toolbar.
 */
/* Mobile First */
#toolbar-administration h2 {
  display: none;
}

#toolbar-administration h3 {
  display: none;
}

/**
 * @file
 * State.
 */
/**
 * @file
 * SVG.
 */
/**
 * @file
 * Active navigation.
 */
body.active header {
  margin-left: 0;
}

body.active #main-wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

body.active #main-wrapper {
  margin-right: -100%;
}

@media (min-width: 48em) {
  body.active header {
    margin-left: 0;
  }
  body.active #main-wrapper {
    margin-right: -100%;
  }
}

/**
 * @file
 * Scrolling.
 */
/* Mobile First */
@media (min-width: 48em) {
  .scrolling header {
    height: 100px;
  }
}

@media (min-width: 62em) {
  .scrolling #logo {
    line-height: 100px;
    font-size: 2em;
  }
  .scrolling header .navigation {
    line-height: 100px;
  }
  .scrolling header .navigation > ul {
    margin: 50px 0;
  }
}

/**
 * @file
 * Theme.
 */
/**
 * @file
 * Styleguide.
 */
.styleguide__inverted-block {
  background: #e8e8e8;
  padding: 0 13px;
}

/*# sourceMappingURL=style.css.map */
