/**
 * @file
 * Navigation.
 */

/* Mobile First */
.logo {
  padding-left: 1em;
}


@include breakpoint($bp-tablet) {
  .logo {
    padding-left: 1.5em;
  }
}


@include breakpoint($bp-desktop) {
  .logo {
    padding-left: 3em;
  }
}


@include breakpoint($bp-large) {
}
